.btn {
  border-radius: 8px;
  padding: 0 12px;
  height: 34px;
  font-size: 16px;
  line-height: 34px;
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
}

.btn_filled {
  background-color: #fff;
  color: #db7093;
}

.btn_outlined {
  border: 2px solid #db7093;
  color: #db7093;
}

.btn_shaded {
  background-color: #db7093;
  color: #fff;
  padding: 0 27px;
  height: 37px;
  box-shadow: 0px 4px 10px rgba(219, 112, 147, 0.5);
}
