.nav {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav__link {
  font-size: 16px;
  line-height: 34px;
  font-weight: 400;
  text-decoration: none;
}

.nav__link_style_header {
  color: #ffffff;
}

.nav__link_style_footer {
  color: #4a4a4a;
}

.nav__link_active {
  font-weight: 600;
}
