.products-section {
  background-color: inherit;
}

.products-section__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 39px;
}

.products-section__more-btn {
  margin-top: -10px;
}
