<nav class="nav">
	{% for link in links %}
		<a class="nav__link nav__link_style_{{ style ?? 'header'}}
			{% if link.active is defined %}
			nav__link_active
			{% endif %}" 
			href="{{ link.href }}"
            >
			{{ link.title }}</a>
	{% endfor %}
</nav>
